.board {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-content: center;
  gap: 20px;
}
.card {
  box-shadow: 0 0 2px 0 #0004, 0 0 10px #0002;
  width: 70px;
  height: 70px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 0 2px 0 crimson, 0 0 10px 0 #0002;

}